/* COLORS */
$black: #000;
$darkGray: #1C1C1C;
$gray: #343434;
$white: #fff;
$pink: #D58F94;
$darkGreen: #003334;
$blue: #003466;
$red: #811900;
$brown: #663200;
$purple: #320033;
$green: #336601;

%shadow {
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
}

%text-shadow {
    text-shadow: 1px 1px 1px $black;
}

%baloo-font {
    font-family: 'Baloo Bhai 2', cursive;
}

%pink-square {
    content: '';
    width: 5px;
    height: 5px;
    background-color: $pink;
    transform: rotate(45deg);
}
