@import 'variables';
@import 'mixins';

body, html {
    margin: 0;
    height: 100%;
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
}

body {
    background-color: $black;
    @extend %baloo-font;

    .bold {
        font-weight: 700;
    }

    .cursive {
        font-style: italic;
    }

    .main-container {
        display: grid;
        grid-template-areas:
            'about-me work-experience work-experience'
            'about-me technical-skills technical-skills'
            'about-me general-skills languages'
            'about-me training training'
            'about-me other-experience other-experience'
        ;
        grid-template-columns: 250px 1fr 1fr;
        grid-gap: 0;
        margin: 0 auto;
        max-width: 768px;
        background-color: $darkGray;
        padding-top: 20px;
        font-size: 1.3rem;

        .about-me {
            grid-area: about-me;
            color: $pink;
            @extend %text-shadow;

            .image {
                width: 60%;
                margin: 0 auto 20px;

                img {
                    display: block;
                    width: 100%;
                }
            }

            .name {
                text-align: center;
                margin-bottom: 40px;

                div:first-child {
                    color: $white;
                    font-size: 1.5rem;
                }
            }

            ul {
                list-style: none;
                padding-left: 30px;

                li {
                    margin-bottom: 20px;

                    div:first-child {
                        color: $white;
                    }
                }
            }
        }

        section.left {
            background-color: $white;

            header {
                padding: 12px 0 12px 40px;
                color: $white;
                @extend %shadow;
                @extend %text-shadow;

                h1 {
                    margin: 0;
                    font-size: 1.5rem;
                    font-weight: 400;
                }
            }

            .content {
                padding: 20px 40px;
                color: $darkGray;

                h2 {
                    font-weight: 700;
                    font-size: 1.3rem;
                    margin: 0;
                }

                .pink-square-right::after {
                    @include pink-square-right;
                }

                .pink-square-list {
                    list-style: none;
                    padding: 0;

                    li {
                        position: relative;
                        padding-left: 15px;

                        &::before {
                            @include pink-square-left;
                        }
                    }
                }

                .pink-square-block {
                    position: relative;
                    padding-left: 15px;
                    margin-bottom: 10px;

                    &::before {
                        @include pink-square-block;
                    }

                    &:last-of-type {
                        margin-bottom: 0;
                    }
                }
            }
        }

        .work-experience {
            grid-area: work-experience;
            header {
                background-color: $darkGreen;
            }
        }

        .technical-skills {
            grid-area: technical-skills;

            header {
                background-color: $blue;
            }

            .content {
                display: flex;
                flex-wrap: wrap;

                .technical-skill {
                    margin-bottom: 20px;
                    width: 50%;
                    padding-right: 30px;

                    &:last-of-type, &:last-of-type(2) {
                        margin-bottom: 0;
                    }
                }
            }
        }

        .general-skills {
            grid-area: general-skills;
            header {
                background-color: $red;
            }
        }

        .languages {
            grid-area: languages;
            header {
                background-color: $brown;
            }
        }

        .training {
            grid-area: training;
            header {
                background-color: $purple;
            }
        }

        .other-experience {
            grid-area: other-experience;
            header {
                background-color: $green;
            }
        }
    }
}